<h1>Result</h1>
<p><%= @result[:message] %></p>
<p>Your score: <%= cookies[:score] %></p>
<%= link_to 'Play again', new_path, class: "btn btn-success" %>
<%= link_to 'Score to 0', init_score_path, class: "btn btn-warning" %>
